/* General Footer Styling */
.main-footer {
    background-color: #1e1e2c;
    color: #ffffff;
    padding: 50px 0;
  }
  
  .footer-logo img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .main-footer p {
    font-size: 24px;
    line-height: 1.6;
    color: #cccccc;
  }
  
  /* Footer Links */
  .footer-links h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f29f67;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 8px;
  }
  
  .footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
  }
  
  .footer-links ul li a:hover {
    color: #3b8ff3;
  }
  
  /* Contact Section */
  .footer-contact-box .footer-info-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .footer-contact-box .footer-info-box .icon-box {
    width: 30px;
    margin-right: 10px;
  }
  
  .footer-contact-box .footer-info-box .icon-box img {
    width: 100%;
    height: auto;
  }
  
  .footer-contact-box .footer-info-box p {
    margin: 0;
    font-size: 14px;
    color: #e0b50f;
  }
  
  /* Social Media Links */
  .footer-social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-social-links li {
    margin: 0 10px;
  }
  
  .footer-social-links li a {
    color: #ffffff;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .footer-social-links li a:hover {
    color: #34b1aa;
  }
  
  /* Footer Bottom */
  .footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
    margin-top: 30px;
  }
  
  .footer-copyright p {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-copyright a {
    font-weight: bold;
    color: #f29f67;
    text-decoration: none;
  }
  
  .footer-copyright a:hover {
    color: #e0b50f;
  }
  
  /* Responsive Design */
  @media (max-width: 991px) {
    .footer-social-links {
      justify-content: center;
      margin-top: 15px;
    }
  
    .footer-copyright p {
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    .footer-links {
      margin-bottom: 30px;
    }
  }
  